@charset "UTF-8";

:root {
--cor-principal: rgb(65, 10, 10);
--cor-secundaria: black;
--cor-terciaria: white;
}

body {
    background-image: url("../imagens/ceu.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

div#ceu {
    height: fit-content;
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0.082));
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 10px;
}

.icons_contato {
    stroke: var(--cor-terciaria); 
    width: 16px; 
    height: 16px; 
}

.icons_contato:hover {
    stroke: #1DA1F2;
}


main {
    max-width: 1200px;
    min-height: calc(100vh - 30px);
    margin: 10px auto 0px;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(77, 70, 70, 0.699), var(--cor-terciaria));
    box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 0.795);
}

section {
    margin-bottom: 10px;
}

section#perfil {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-terciaria);
}

div#foto_perfil > img {
    width: 25rem;
    aspect-ratio: 1/1;
    overflow-y: hidden;
    border-radius: 50%;
    border: 4px solid rgba(65, 65, 65, 0.185);
}

p#nome {
    font-weight: 600;
}

p#funcao {
    font-style: italic;
}

div#resumo_funcao > p {
    font-style: italic;
    font-size: 1.1rem;
    border-left: 4px solid #2e2e2e;
    padding: 5px;
    padding-left: 1em;
    margin: 1em 0;
    color: rgb(204, 204, 204);
    background-color: #888;
}

section#sobre {
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.24))
}

p#p_projetos {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}

section#projetos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 40px auto;
}

section#projetos > div {
    background-color: #888;
    height: 180px;
    width: 180px;
    transition: transform 0.1s ease;
}

section#projetos > div:hover {
    transform: scale(1.02);
}

section#contato > p#p_contato {
    text-align: center;
    font-weight: 600;
}

section#contato > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

section#contato > p#p_contato{
    margin-bottom: 20px;
}

section#contato > div > p > a  {
    padding: 10px;
    border-radius: 3px;
    background: var(--cor-principal);
    color: var(--cor-terciaria);
}

section#contato > div > p > a:hover {
    padding: 11px;
}