@charset "UTF-8";

/* CONFIGURAÇÕES BÁSICAS */

:root {
--cor-principal: rgb(65, 10, 10);
--cor-secundaria: black;
--cor-terciaria: white;
}

body {
    background-image: url("../imagens/ceu_noite.jpg");
    background-position: top;
    background-size: 170%;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

body.dia_fundo {
    background-image: url("../imagens/ceu_dia.jpg");
    background-position: top right;
}


div#ceu {
    height: fit-content;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(2, 1, 8, 0.76), rgba(4, 3, 19, 0));
}

div#ceu.dia_filtro {
    background-image: linear-gradient(to top, rgba(218, 218, 218, 0.911)14%, rgba(222, 217, 248, 0.222));
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 10px;
}

/* Toggler de tema */

label.trocar {
  --width: 50px;
  --height: 25px;
  --thumb-size: 18px;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
}

label.trocar > input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

label.trocar > span.rastro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    background-image: linear-gradient(90deg, #333 0%, #444 100%);
    border-radius: var(--height);
    margin: 5px;
    width: var(--width);
    height: var(--height);
    position: relative;
    transition: background-color 0.25s ease-in-out;
}

/* -- icones de sol e lua -- */

.icon i {
    font-size: 1px;
    color: #d0d8ff; 
    opacity: 0.6;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.icon.sun {
    color: #f5d76e;
}

input:checked + .track .sun {
  opacity: 1;
  transform: scale(1.1);
}

input:checked + .track .moon {
  opacity: 0.4;
  transform: scale(0.9);
}

/* inverso: quando desligado (noite) */
input:not(:checked) + .track .sun {
  opacity: 0.4;
  transform: scale(0.9);
}

input:not(:checked) + .track .moon {
  opacity: 1;
  transform: scale(1.1);
}


label.trocar span.marcador {
  position: absolute;
  top: 50%;
  left: 25%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.25s ease-in-out;
}

label.trocar > input:checked + span.rastro {
  background: linear-gradient(90deg, #87ceeb 0%, #fef3c7 100%);
}

label.trocar > input:checked + span.rastro span.marcador {
    transform: translate(calc((var(--width) / 4 * 3) - 18px - 6px), -50%);
}

.trocar input:focus-visible + .rastro {
  outline: 2px solid #2196F3;
  outline-offset: 3px;
}


/* Conteudo principal */

main {
    max-width: 1200px;
    min-height: calc(100vh - 30px);
    margin: 0px auto 0px;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.116), rgba(77, 70, 70, 0) 75%);
}

main.noite_background {
    background-image: linear-gradient(to bottom, rgba(90, 83, 83, 0.137), rgba(255, 255, 255, 0.041) 75%);
}

section {
    margin-bottom: 10px;
}

/* Perfil */

section#perfil {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-secundaria);
    background-color: rgba(117, 117, 117, 0.062);
}

section#perfil.dia_perfil {
    background-color: rgba(150, 150, 150, 0.062);
}

div#foto_perfil > img {
    width: 25rem;
    aspect-ratio: 1/1;
    overflow-y: hidden;
    border-radius: 50%;
    box-shadow: 0px 6px 8px 4px rgba(29, 29, 29, 0.507);
}

p#nome {
    font-weight: 600;
    font-size: 2rem;
}

p#funcao {
    font-style: italic;
    font-size: 1.1rem;
    
}

div#resumo_funcao > p {
    font-style: italic;
    font-size: 1.1rem;
    border-left: 4px solid #2e2e2e;
    padding: 5px;
    padding-left: 1em;
    margin: 1em 0;
    color: var(--cor-secundaria);
    background-color: #c0c0c0;
}

div#resumo_funcao > p.dia_resumo-func_p {
    background-color: #929292;
    color: rgb(248, 248, 248);
}

/* Sobre */

section#sobre {
    text-align: justify;
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(102, 102, 102, 0) 60%, rgba(175, 175, 175, 0.068));
    color: var(--cor-terciaria);
}

section#sobre.dia_sobre {
    background-image: linear-gradient(to top, rgba(175, 175, 175, 0), rgba(110, 110, 110, 0.055)60%);
    color: var(--cor-secundaria);
}

section#sobre > h2 {
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
}

section#sobre > h2.dia_sobreH2 {
    text-shadow: 0px 0px 25px rgb(255, 255, 255);
}

/* Projetos */

p#p_projetos {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
    color: var(--cor-terciaria);
}

p#p_projetos.dia_p_projetos {
    color: var(--cor-secundaria);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

section#projetos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 40px auto;
}

section#projetos > div {
    background-color: #c5c5c5;
    height: 180px;
    width: 180px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.329);
    border-radius: 6px;
    transition: transform 0.1s ease;
}

section#projetos > div:hover {
    transform: scale(1.02);
}

/* Contato */

section.contato {
    text-align: center;
    font-weight: 600;
}

section.contato > p {
    color: var(--cor-terciaria);
}

section.contato > p.p_contato {
    color: var(--cor-secundaria);
}

section.contato > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.icons_contato {
    stroke: var(--cor-terciaria); 
    width: 16px; 
    height: 16px; 
}

section.contato > p#p_contato{
    margin-bottom: 20px;
    color: var(--cor-terciaria)
}

section.contato > div > p > a  {
    padding: 10px;
    border-radius: 3px;
    background: var(--cor-principal);
    color: var(--cor-terciaria);
    transition: transform 0.1s ease;
}

section.contato > div > p:hover {
    transform: scale(1.05);
}